$fruitDimension: 90px;
$contentMarginLeft: 25%;


@mixin fruit-card($position){
  height: $fruitDimension;
  width: $fruitDimension;
  background: url(../assets/cards.png) 0px $position;
}
@mixin difficulty(){
  text-decoration: none;
  font-family: Shanti;
  font-size: 20px;
}

#container{
  width: 100%;
}
// --------------------------MENU ET TABLEAU DU JEU
a#easy {
  @include difficulty();
}

a#normal {
  @include difficulty();
}

a#hard {
  @include difficulty();
}

#upper {
  font-family: Shanti;
  margin-left: $contentMarginLeft;
}

h1{
  float: left;
}

h3{
  font-family: Shanti;
}

audio {
  float: right;
  margin-top: 1%;
  margin-right: 29%;
}
#difficulty{
  margin-left: $contentMarginLeft;
  margin-top: 5%;
}
.difficulty {
  height: 70px;
  width: 80px;
  border-right-style: dotted;
  border-right-width: 3px;
  border-right-color: black;
}

table {
  margin-top: 3%;
  margin-left: $contentMarginLeft;

  td {
    height: $fruitDimension;
    width: $fruitDimension;
  }
}

.question-mark {
  height: $fruitDimension;
  width: $fruitDimension;
}

.red-apple{
  @include fruit-card(0px);
}

.banana{
  @include fruit-card(-92px);
}

.orange{
  @include fruit-card(-202px);
}

.green-lemon{
  @include fruit-card(-297px);
}

.cranberry{
  @include fruit-card(-400px);
}

.orange-apricot{
  @include fruit-card(-493px);
}

.yellow-lemon{
  @include fruit-card(-593px);
}

.strawberry{
  @include fruit-card(-697px);
}

.green-apple{
  @include fruit-card(-805px);
}

.peach{
  @include fruit-card(-900px);
}

.grapes{
  @include fruit-card(-1007px);
}

.watermelon{
  @include fruit-card(-1098px);
}

.purple-apricot{
  @include fruit-card(-1200px);
}

.pear{
  @include fruit-card(-1300px);
}

.red-cherry{
  @include fruit-card(-1406px);
}

.raspberry{
  @include fruit-card(-1500px);
}

.mango{
  @include fruit-card(-1598px);
}

.yellow-cherry{
  @include fruit-card(-1690px);
}

// --------------------------MODALE DES MEILLEURS SCORES
#chrono {
  margin-left: $contentMarginLeft;
  font-family: Shanti;
  font-size: 100px;
}

// --------------------------PROGRESS BAR
#myProgress {
  margin-left: $contentMarginLeft;
  width: 50%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

// --------------------------MODALE DES MEILLEURS SCORES

.modal {
  //display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
